<h1>Listings</h1>
<p> <% @products.each do |product| %> </p>
<p1> <%= product.name %> </p1>
<p2> <br> Price per night: $<%= product.price %> </p2>
<p3> <br> <img src= "<%= product.image %>" </p3>
<p4> <br> About this property: <br> <%= product.description %> </p4>
<%end%>

